<div class="page-container">
    <div class="list-container">
        <app-header></app-header>
        <div class="users">
            <app-add-user (addUser)="addNewUser($event)"></app-add-user>
            <div cdkDropList>
                <app-user-card cdkDrag *ngFor="let user of users" (editUser)="editUser($event)"
                    (deleteUser)="deleteUser($event)" [user]="user">
                </app-user-card>
            </div>

        </div>
    </div>
</div>
<div class="background-container">
    <div class="background-gradient-container">
    </div>
</div>